body {
	width: 1200px;
	height: 3350px;
	border: 1px solid black;
	margin: auto;
	/*background-color: #1f202b;*/

}

/***Base Styles***/

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 36px;
	font-weight: 600;
	color: #fa0075;
	text-align: center;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	/*color:#ffffff;*/
}

h5, p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 400;
	/*color:#ffffff;*/
}


header  {
	height: 800px;
}


header .half-width {
	width: 598px;
	height: 75px;
	border: 1px solid black;
	float: left;
}


header h3{
	margin-top: 30px;
	margin-left: -40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	/*color: #ffffff;*/
}


header nav ul li {
	display: inline;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 50px;

}

header nav ul {
	margin-top: 30px;
	margin-left: 100px;
	margin-right: -40px;
}


header nav ul li a {
	text-decoration: none;
	/*color: #ffffff;*/
}


header #hero {
	height: 725px;
	border: 1px solid black;
}

header #hero h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font-size: 72px;
	margin-top: 300px;
	/*color: #ffffff;*/
}

header #hero #color-pop {
	color: #fa0075;
}



.heading-height {
	height: 196px;
	border: 1px solid black;
}



#portfolio {
	height: 1550px;
}

#portfolio .half-width {
	width: 598px;
	height: 1255px;
	float: left;
}


#portfolio .text-box {
	height: 350px;
	width: 550px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	/*color: #ffffff;*/
}

.text-box {
	margin-bottom: 100px;
}

.image-box {
	margin-bottom: 100px;
}

.text-box h4{
	margin-top: 0;

}

.text-align {
	text-align: right;
}

.right-side-align{
	margin-left: 50px;
}




#about {
	height: 550px;
	border: 1px solid black;
}

#about-background-img {
	
}

#about .half-width {
	width: 600px;
}

#about h4 {	
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700px;
	color: #1f202b;
}

#about p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 400px;
	color: #1f202b;
}



#contact {
	height: 450px;
	border: 1px solid black;
}


#contact .third-width {
	border: 1px solid black;
	width: 396px;
	float: left;
	text-align: center;
}

#contact address, a {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 400px;
	/*color: #ffffff;*/
}

#contact ul {
	margin-right: 35px;
}

#contact ul li {
	display: inline;
	padding: 0 20px 0 20px;
}

#contact h6 {
	clear: both;
}
