

body {
	width: 1200px;
	height: 3350px;
	margin: auto;
	background-color: #1f202b;

}

/***Base Styles***/

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 36px;
	font-weight: 600;
	color: #fa0075;
	text-align: center;
	margin-top: 0;
	padding-top: 30px;
}

h4, h4 a {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color:#ffffff;
	text-decoration: none;
}

h5, p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color:#ffffff;
}



/***HEADER SECTION****/


header  {
	height: 75px;
}


header .half-width {
	width: 598px;
	height: 75px;
	/*border: 1px solid black;*/
	float: left;
}


header h3{
	margin-top: 30px;
	margin-left: -40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #ffffff;
}


header nav ul li {
	display: inline;
	font-size: 30px;
	padding-left: 51px;

}

header nav ul {
	margin-top: 30px;
	margin-left: 100px;
	margin-right: -40px;
	padding-left: 45px;
}


header nav ul li a {
	text-decoration: none;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #ffffff;
}


/****HERO SECTION******/
 

 #hero {
	height: 725px;
	background-image: url("../img/hero-background.png");
	margin: 0 -40px 0 -40px;
}

 #hero h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font-size: 72px;
	margin: 10px 0 59px 40px;
	padding-top: 200px;
	color: #ffffff;
}

 #hero #color-pop {
	color: #fa0075;
}



/*** PORTFOLIO SECTION ***/ 


#portfolio {
	height: 1550px;
}


#portfolio .half-width {
	width: 598px;
	height: 1255px;
	margin-top: 40px;
	float: left;
}

.half-width .text-box {
	height: 350px;
	width: 550px;
	margin-bottom: 100px;
}

.half-width .text-box h4{
	margin-top: 0;

}
.text-box .text-align {
	text-align: right;
}

.half-width .image-box {
	margin-bottom: 100px;
}

.half-width .right-side-align{
	margin-left: 50px;
}



/*** ABOUT SECTION ***/


#about {
	height: 550px;
	margin: 0 -40px 0 -40px;
	background-image: url("../img/about-me.png"); 
}

#about .half-width {
	width: 600px;
	margin-left: 40px;
}

#about h4, #about p {	
	color: #1f202b;
}


/*** CONTACT SECTION ***/

#contact {
	height: 450px;
	/*border: 1px solid black;*/
}

#contact .third-width {
	width: 396px;
	height: 200px;
	float: left;
	text-align: center;
	margin-top: 25px;
}

#contact address, a {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #ffffff;
}

#contact ul {
	margin-right: 35px;
}

#contact ul li {
	display: inline;
	padding: 0 20px 0 20px;
}

#contact h5, p{
	margin: 0;


}

#contact h6 {
	clear: both;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	padding-top: 80px;
	color: #ffffff;

}
